# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
# OS X
.DS_Store
.AppleDouble
.Parent
#Corpus related files
#counter.py
#combined-*.txt
Screen*.png
no-BOM.txt
no-tags.txt
new-no.txt
Practice-files/
